<!-- 회원가입 페이지 -->
{% extends '../layout.html' %} {% block content %}

<h1>회원가입</h1>

<form method="post" action="/member/join" enctype="multipart/form-data">
  <dl>
    <dt>아이디</dt>
    <dd><input type="text" name="memId" /></dd>
  </dl>
  <dl>
    <dt>비밀번호</dt>
    <dd><input type="password" name="memPw" /></dd>
  </dl>
  <dl>
    <dt>비밀번호확인</dt>
    <dd><input type="password" name="memPwRe" /></dd>
  </dl>
  <dl>
    <dt>이름</dt>
    <dd><input type="text" name="memNm" /></dd>
  </dl>
  <dl>
    <dt>휴대전화</dt>
    <dd><input type="text" name="mobile" /></dd>
  </dl>
  <input type="submit" value="가입하기" />
</form>
{% endblock %}
